<!DOCTYPE html>
<html>
  <head>
    <title>Rails Longest Word Game</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Longest Word Game</h1>
    <h3>Welcome to the longest word game! What's the longest word you can make with the letters below?</h3>
    <%= yield %>
  </body>
</html>
